<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MesAdmin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="DXThemeManager" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="DSNL_MES" connectionString="Database=DSNL_MES;Server=192.168.31.10,1433;uid=sa;pwd=ejrtksdldkfvl" providerName="System.Data.SqlClient" />
    <add name="Authentication" connectionString="Database=Authentication;Server=192.168.31.10,1433;uid=sa;pwd=ejrtksdldkfvl" providerName="System.Data.SqlClient" />
    <add name="DSNL_TEST" connectionString="Server=192.168.31.10,1433;Database=DSNL_TEST;UID=sa;PWD=ejrtksdldkfvl" providerName="System.Data.SqlClient" />
    <add name="AspnetMembershipConnectionString" connectionString="Database=Authentication;Server=192.168.31.10,1433;uid=sa;pwd=ejrtksdldkfvl" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <membership defaultProvider="SqlServerMembershipProvider">
      <providers>
        <add name="SqlServerMembershipProvider" connectionStringName="AspnetMembershipConnectionString" applicationName="MesAdmin" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" maxInvalidPasswordAttempts="2147483647" requiresUniqueEmail="false" passwordFormat="Clear" minRequiredPasswordLength="4" minRequiredNonalphanumericCharacters="0" type="System.Web.Security.SqlMembershipProvider" />
      </providers>
    </membership>
    <profile defaultProvider="SqlServerProfileProvider" enabled="true">
      <providers>
        <add name="SqlServerProfileProvider" connectionStringName="AspnetMembershipConnectionString" applicationName="MesAdmin" type="System.Web.Profile.SqlProfileProvider" />
      </providers>
      <properties>
        <add name="KorName" type="System.String" />
        <add name="Department" type="System.String" />
        <add name="WorkParts" type="System.String" />
      </properties>
    </profile>
    <roleManager enabled="true" defaultProvider="SqlServerRoleProvider">
      <providers>
        <add name="SqlServerRoleProvider" connectionStringName="AspnetMembershipConnectionString" applicationName="MesAdmin" type="System.Web.Security.SqlRoleProvider" />
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <DXThemeManager>
      <setting name="ApplicationThemeName" serializeAs="String">
        <value>VS2019Light</value>
      </setting>
    </DXThemeManager>
    <MesAdmin.Properties.Settings>
      <setting name="UserId" serializeAs="String">
        <value />
      </setting>
      <setting name="DBName" serializeAs="String">
        <value />
      </setting>
      <setting name="BizAreaCode" serializeAs="String">
        <value />
      </setting>
      <setting name="Left" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="Top" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="Width" serializeAs="String">
        <value>1024</value>
      </setting>
      <setting name="Height" serializeAs="String">
        <value>768</value>
      </setting>
      <setting name="ActiveGroup" serializeAs="String">
        <value />
      </setting>
      <setting name="WindowState" serializeAs="String">
        <value />
      </setting>
      <setting name="PaneExpanded" serializeAs="String">
        <value>True</value>
      </setting>
    </MesAdmin.Properties.Settings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" /></startup></configuration>
